<footer class="footer">
    <div class="container footer-container">
        <nav class="footer-nav">
            <ul class="footer-nav-list">
                <li class="footer-nav-items">
                    <a class="footer-nav-link" href="./index.html">Головна</a>
                </li>
                <li class="footer-nav-items">
                    <a class="footer-nav-link" href="">Переваги</a>
                </li>
                <li class="footer-nav-items">
                    <a class="footer-nav-link" href="">Наші послуги</a>
                </li>
                <li class="footer-nav-items">
                    <a class="footer-nav-link" href="">Ціни</a>
                </li>
            </ul>
        </nav>
        <p class="footer-text">
            Всі права захищені | Використання матеріалів дозволено лише за
            наявності активного посилання на джерело | electric24.kiev.ua
        </p>
    </div>
</footer>
