<header class="header">
    <div class="container header-container">
        <nav class="header-nav">
            <a class="header-logo" href="./index.html">
                <img
                    class="header-logo-img"
                    src="./img/logo-electric24.png"
                    alt="логотип"
                    width="150"
                    height="30"
                />
            </a>
            <ul class="header-nav-list">
                <li class="header-nav-items">
                    <a class="header-nav-link" href="">Переваги</a>
                </li>
                <li class="header-nav-items">
                    <a class="header-nav-link" href="">Наші послуги</a>
                </li>
                <li class="header-nav-items">
                    <a class="header-nav-link" href="">Ціни</a>
                </li>
                <li class="header-nav-items">
                    <a class="header-nav-link" href="">Приклади робіт</a>
                </li>
            </ul>
        </nav>
        <address class="header-address">
            <ul class="header-address-list">
                <li class="header-address-items">
                    <a class="header-address-link" href="tel:+380966957228"
                        >+380 (96) 695 72 28</a
                    >
                </li>
                <li class="header-address-items address-items-mail">
                    <a
                        class="header-address-link"
                        href="mailto:info.electric24@gmail.com"
                        >info.electric24@gmail.com</a
                    >
                </li>
            </ul>
        </address>
        <button class="mob-menu-btn" type="button">
            <svg class="mob-menu-icon" width="35" height="35">
                <use href="./img/sprite.svg#icon-mob-menu"></use>
            </svg>
        </button>
    </div>
</header>
