<main>
    <!-- Hero -->
    <section class="hero">
      <div class="container hero-container">
        <h1 class="hero-title">Електромонтажні роботи любої складності</h1>
      </div>
    </section>

    <!-- Our advantages -->
    <section class="advantages">
      <div class="container advantages-container">
        <h2 class="advantages-title">Чому варто замовити електрика в нас?</h2>
        <ul class="advantages-list">
          <li class="advantages-items">
            <svg class="advantages-icon" width="80" height="80">
              <use href="./img/sprite.svg#icon-bezpechno"></use>
            </svg>
            <div class="advantages-cont-wrap">
              <h3 class="advantages-items-title">Безпечно</h3>
              <p class="advantages-items-text">Гарантія на виконані роботи</p>
            </div>
          </li>

          <li class="advantages-items">
            <svg class="advantages-icon" width="80" height="80">
              <use href="./img/sprite.svg#icon-ekonomichno"></use>
            </svg>
            <div class="advantages-cont-wrap">
              <h3 class="advantages-items-title">Економно</h3>
              <p class="advantages-items-text">Робота без посередників</p>
            </div>
          </li>

          <li class="advantages-items">
            <svg class="advantages-icon" width="80" height="80">
              <use href="./img/sprite.svg#icon-profesiyno"></use>
            </svg>
            <div class="advantages-cont-wrap">
              <h3 class="advantages-items-title">Професійно</h3>
              <p class="advantages-items-text">Кваліфіковані спеціалісти</p>
            </div>
          </li>

          <li class="advantages-items">
            <svg class="advantages-icon" width="80" height="80">
              <use href="./img/sprite.svg#icon-yakisno"></use>
            </svg>
            <div class="advantages-cont-wrap">
              <h3 class="advantages-items-title">Якісно</h3>
              <p class="advantages-items-text">
                Тільки сертифіковані матеріали
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <!-- Our services -->
    <section class="services">
      <div class="container services-container">
        <h2 class="services-title">Наші послуги</h2>
        <ul class="services-list">
          <li class="services-items">Консультація по проекту</li>
          <li class="services-items">Закупка та доставка матеріалів</li>
          <li class="services-items">
            Розрахунок проектно-кошторисної документації
          </li>
          <li class="services-items">Штроблення стін</li>
          <li class="services-items">Монтаж електропроводки</li>
          <li class="services-items">Встановлення підрозетників</li>
          <li class="services-items">Встановлення та збирання щита</li>
          <li class="services-items">Пропайка розподільних коробок</li>
          <li class="services-items">
            Установка та комутація розподільних коробок
          </li>
          <li class="services-items">Монтаж LED стрічки</li>
          <li class="services-items">Монтаж трек-системи</li>
          <li class="services-items">Збірка та монтаж люстр</li>
          <li class="services-items">Монтаж точкових світильників та бра</li>
          <li class="services-items">Встановлення розеток та вимикачів</li>
          <li class="services-items">Встановлення датчиків руху</li>
        </ul>
      </div>
    </section>

    <!-- Price -->
    <section class="price">
      <div class="container price-container">
        <h2 class="price-title">Ціни на елетромонтажні роботи</h2>
        <ul class="price-list">
          <li class="price-items">
            <h3 class="price-items-title">Ціни на послуги</h3>
            <div class="price-btn-link">
              <svg class="price-icon" width="40" height="40">
                <use href="./img/sprite.svg#icon-file-pdf"></use>
              </svg>
              <a class="price-btn-download" href="">Завантажити</a>
            </div>
          </li>
          <li class="price-items">
            <h3 class="price-items-title">Ціни на матеріали</h3>
            <div class="price-btn-link">
              <svg class="price-icon" width="40" height="40">
                <use href="./img/sprite.svg#icon-file-pdf"></use>
              </svg>
              <a class="price-btn-download" href="">Завантажити</a>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <!-- Portfolio -->
    <section class="portfolio">
      <div class="container portfolio-container">
        <h2 class="portfolio-title">Приклади робіт</h2>
        <div class="portfolio-photo-container">
          <img
            class="portfolio-img"
            src="./img/portfolio/portfolio-photo-1.jpg"
            alt="портфоліо фото 1"
            width="800"
            height="600"
          />
          <img
            class="portfolio-img"
            src="./img/portfolio/portfolio-photo-2.jpg"
            alt="портфоліо фото 2"
            width="800"
            height="600"
          />
          <img
            class="portfolio-img"
            src="./img/portfolio/portfolio-photo-3.jpg"
            alt="портфоліо фото 3"
            width="800"
            height="600"
          />
          <img
            class="portfolio-img"
            src="./img/portfolio/portfolio-photo-4.jpg"
            alt="портфоліо фото 4"
            width="800"
            height="600"
          />
          <img
            class="portfolio-img"
            src="./img/portfolio/portfolio-photo-5.jpg"
            alt="портфоліо фото 5"
            width="800"
            height="600"
          />
          <img
            class="portfolio-img"
            src="./img/portfolio/portfolio-photo-6.jpg"
            alt="портфоліо фото 6"
            width="800"
            height="600"
          />
          <img
            class="portfolio-img"
            src="./img/portfolio/portfolio-photo-7.jpg"
            alt="портфоліо фото 7"
            width="800"
            height="600"
          />
          <img
            class="portfolio-img"
            src="./img/portfolio/portfolio-photo-8.jpg"
            alt="портфоліо фото 8"
            width="800"
            height="600"
          />
          <img
            class="portfolio-img"
            src="./img/portfolio/portfolio-photo-9.jpg"
            alt="портфоліо фото 9"
            width="800"
            height="600"
          />
          <img
            class="portfolio-img"
            src="./img/portfolio/portfolio-photo-10.jpg"
            alt="портфоліо фото 10"
            width="800"
            height="600"
          />
          <img
            class="portfolio-img"
            src="./img/portfolio/portfolio-photo-11.jpg"
            alt="портфоліо фото 11"
            width="800"
            height="600"
          />
          <img
            class="portfolio-img"
            src="./img/portfolio/portfolio-photo-12.jpg"
            alt="портфоліо фото 12"
            width="800"
            height="600"
          />
        </div>
      </div>
    </section>

    <!-- Contacts -->
    <section class="contacts">
      <div class="container contacts-container">
        <h2 class="contacts-title">Наші контакти</h2>
        <div class="contacts-wrap">
          <address class="contacts-address-wrap">
            <ul class="contacts-address-list">
              <li class="contacts-address-items">
                <p class="contacts-address">
                  м. Київ, вул Петра Запорожця 22, оф.4
                </p>
              </li>
              <li class="contacts-address-items">
                <a class="contacts-address-link" href="tel:+380966957228"
                  >+380(96) 695 72 28</a
                >
              </li>
              <li class="contacts-address-items">
                <a
                  class="contacts-address-link"
                  href="mailto:info.electric24@gmail.com"
                  >info.electric24@gmail.com</a
                >
              </li>
            </ul>
          </address>

          <form class="contacts-form">
            <h3 class="contacts-form-title">
              Залиште свої дані, ми обов’язково Вам зателефонуємо
            </h3>
            <div class="form-items">
              <!-- <label class="label-name" for="user-name">Ваше ім'я</label> -->
              <div class="form-input-box">
                <input
                  class="form-input"
                  type="text"
                  name="user-name"
                  id="user-name"
                  placeholder="Ваше ім'я"
                />
                <svg class="svg-input-icon" width="18" height="24">
                  <use href="./img/sprite.svg#icon-person"></use>
                </svg>
              </div>
            </div>

            <div class="form-items">
              <!-- <label class="label-name" for="user-phone">Ваш телефон</label> -->
              <div class="form-input-box">
                <input
                  class="form-input"
                  type="tel"
                  name="user-phone"
                  id="user-phone"
                  placeholder="Ваш телефон"
                />
                <svg class="svg-input-icon" width="18" height="24">
                  <use href="./img/sprite.svg#icon-phone"></use>
                </svg>
              </div>
            </div>

            <div class="form-textarea">
              <!-- <label class="label-name" for="user-comment">Коментар</label> -->
              <textarea
                class="modal-textarea"
                name="user-comment"
                id="user-comment"
                rows="4"
                placeholder="Ваше повідомлення (необов'язково)"
              ></textarea>
            </div>

            <button class="btn-form-send" type="submit">Відправити</button>
          </form>
        </div>
      </div>
    </section>
  </main>